# Sulf

### 1.Read Raw Data

In [32]:
import pandas as pd
df = pd.read_csv('Sigac_F28_Sulf.csv')

In [33]:
df.head(5)

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY
0,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030337,MOVEIN,2021/02/04 6:33:45 AM,1,1,-SNJAG019,F28 BCD,On-line,04/02/2021
1,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/04 8:56:26 PM,1,1,-SNJAG211,F28 BCD,On-line,04/02/2021
2,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 11:03:05 AM,1,1,-SNMIK533,F28 BCD,On-line,05/02/2021
3,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 8:57:05 PM,1,1,-SNCLA050,F28 BCD,On-line,05/02/2021
4,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/06 9:46:14 AM,1,1,-SNMIK400,F28 BCD,On-line,06/02/2021

In [34]:
#get the columns of the dataframe
df.columns

Index(['site_name', 'location', 'location_type', 'ipn', 'lot_num', 'move_type',
       'move_date_time', 'success_or_not', 'quantity', 'bottle_number',
       'area_name', 'location_type_1', 'DMY'],
      dtype='object')

### 2. Create a new Column (Named:"CDM_Name") based on the on the following criteria: 
        if a Row in "location" is ("96%H2SO4 AQRM 01 On Line") then new name is ("CDM_1")
        if a Row in "location" is ("96%H2SO4 AQRM 02 On Line") then new name is ("CDM_2")
        if a Row in "location" is ("96%H2SO4 AQRM 03 On Line") then new name is ("CDM_3")
        if a Row in "location" is ("96%H2SO4 AQRM 04 On Line") then new name is ("CDM_4")

In [35]:
#creating the CDM_NAME column
def CDM(x):
    if x == '96%H2SO4 AQRM 01 On Line' :
        return 'CDM1'
    elif x == '96%H2SO4 AQRM 02 On Line':
        return 'CDM2'
    elif x == '96%H2SO4 AQRM 03 On Line':
        return 'CDM3'
    elif x == '96%H2SO4 AQRM 04 On Line':
        return 'CDM4'
    return 'other'

df['CDM_Name'] = df['location'].apply(lambda x: CDM(x))

In [36]:
df['CDM_Name']
#here is the final Output

0      CDM2
1      CDM2
2      CDM2
3      CDM2
4      CDM2
       ...
120    CDM4
121    CDM4
122    CDM4
123    CDM4
124    CDM4
Name: CDM_Name, Length: 125, dtype: object

In [37]:
df.head(5)

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY,CDM_Name
0,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030337,MOVEIN,2021/02/04 6:33:45 AM,1,1,-SNJAG019,F28 BCD,On-line,04/02/2021,CDM2
1,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/04 8:56:26 PM,1,1,-SNJAG211,F28 BCD,On-line,04/02/2021,CDM2
2,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 11:03:05 AM,1,1,-SNMIK533,F28 BCD,On-line,05/02/2021,CDM2
3,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 8:57:05 PM,1,1,-SNCLA050,F28 BCD,On-line,05/02/2021,CDM2
4,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/06 9:46:14 AM,1,1,-SNMIK400,F28 BCD,On-line,06/02/2021,CDM2

<img src="Picture.png" width="800">

###  3. Create a summarry table (named:"df_Totes_CDM_Day")  from "Sigac" Table that summarize column "quantity" by day (DMY column) and by (CDM_Name column) .
####   Output will be like:

In [38]:
df_Totes_CDM_Day = df[['quantity','DMY','CDM_Name']]
df_Totes_CDM_Day.groupby(['DMY']).first()

            quantity CDM_Name
DMY
04/02/2021         1     CDM2
05/02/2021         1     CDM2
06/02/2021         1     CDM2
07/02/2021         1     CDM2
08/02/2021         1     CDM2
09/02/2021         1     CDM2
10/02/2021         1     CDM3
11/02/2021         1     CDM2
12/02/2021         1     CDM3
13/02/2021         1     CDM2
14/02/2021         1     CDM2
15/02/2021         1     CDM2
16/02/2021         1     CDM2
17/02/2021         1     CDM2
18/02/2021         1     CDM2
19/02/2021         1     CDM2

<img src="Picture2.png" width="400">

###  4. Reshape the df table ("df_Totes_CDM_Day" ) so it will looks like below:
#### and fill the missing cells with zeros

In [39]:
df_Totes_CDM_Day.groupby(['DMY'])['CDM_Name'].value_counts()

DMY         CDM_Name
04/02/2021  CDM3        3
            CDM4        3
            CDM2        2
05/02/2021  CDM4        4
            CDM3        3
            CDM2        2
06/02/2021  CDM4        4
            CDM2        2
            CDM3        2
07/02/2021  CDM4        3
            CDM3        2
            CDM2        1
08/02/2021  CDM4        5
            CDM3        3
            CDM2        2
09/02/2021  CDM4        4
            CDM3        3
            CDM2        1
10/02/2021  CDM4        4
            CDM3        2
11/02/2021  CDM4        4
            CDM3        3
            CDM2        1
12/02/2021  CDM4        5
            CDM3        3
13/02/2021  CDM4        4
            CDM2        2
            CDM3        2
14/02/2021  CDM4        4
            CDM3        3
            CDM2        2
15/02/2021  CDM4        5
            CDM3        3
            CDM2        1
16/02/2021  CDM4        4
            CDM2        2
            CDM3        2
17/02/2021  CDM4        4
            CDM2        2
            CDM3        2
18/02/2021  CDM3        3
            CDM4        3
            CDM2        1
19/02/2021  CDM4        3
            CDM2        1
            CDM3        1
Name: CDM_Name, dtype: int64

In [40]:
from collections import OrderedDict 
z = df_Totes_CDM_Day.groupby(['DMY'])['CDM_Name'].value_counts().to_dict()
sort = OrderedDict(sorted(z.items()))
sort = dict(sort)
sort[('10/02/2021', 'CDM2')] = 0
sort[('12/02/2021', 'CDM2')] = 0
sort = OrderedDict(sorted(sort.items()))
sort = dict(sort)
sort

{('04/02/2021', 'CDM2'): 2,
 ('04/02/2021', 'CDM3'): 3,
 ('04/02/2021', 'CDM4'): 3,
 ('05/02/2021', 'CDM2'): 2,
 ('05/02/2021', 'CDM3'): 3,
 ('05/02/2021', 'CDM4'): 4,
 ('06/02/2021', 'CDM2'): 2,
 ('06/02/2021', 'CDM3'): 2,
 ('06/02/2021', 'CDM4'): 4,
 ('07/02/2021', 'CDM2'): 1,
 ('07/02/2021', 'CDM3'): 2,
 ('07/02/2021', 'CDM4'): 3,
 ('08/02/2021', 'CDM2'): 2,
 ('08/02/2021', 'CDM3'): 3,
 ('08/02/2021', 'CDM4'): 5,
 ('09/02/2021', 'CDM2'): 1,
 ('09/02/2021', 'CDM3'): 3,
 ('09/02/2021', 'CDM4'): 4,
 ('10/02/2021', 'CDM2'): 0,
 ('10/02/2021', 'CDM3'): 2,
 ('10/02/2021', 'CDM4'): 4,
 ('11/02/2021', 'CDM2'): 1,
 ('11/02/2021', 'CDM3'): 3,
 ('11/02/2021', 'CDM4'): 4,
 ('12/02/2021', 'CDM2'): 0,
 ('12/02/2021', 'CDM3'): 3,
 ('12/02/2021', 'CDM4'): 5,
 ('13/02/2021', 'CDM2'): 2,
 ('13/02/2021', 'CDM3'): 2,
 ('13/02/2021', 'CDM4'): 4,
 ('14/02/2021', 'CDM2'): 2,
 ('14/02/2021', 'CDM3'): 3,
 ('14/02/2021', 'CDM4'): 4,
 ('15/02/2021', 'CDM2'): 1,
 ('15/02/2021', 'CDM3'): 3,
 ('15/02/2021', 'CDM4'): 5,
 ('16/02/2021', 'CDM2'): 2,
 ('16/02/2021', 'CDM3'): 2,
 ('16/02/2021', 'CDM4'): 4,
 ('17/02/2021', 'CDM2'): 2,
 ('17/02/2021', 'CDM3'): 2,
 ('17/02/2021', 'CDM4'): 4,
 ('18/02/2021', 'CDM2'): 1,
 ('18/02/2021', 'CDM3'): 3,
 ('18/02/2021', 'CDM4'): 3,
 ('19/02/2021', 'CDM2'): 1,
 ('19/02/2021', 'CDM3'): 1,
 ('19/02/2021', 'CDM4'): 3}

In [41]:
keys = list(sort.keys())
values = list(sort.values())
CDM_2 =[]
CDM_3 = []
CDM_4 = []
for i in range(0,len(values)-2,3):
    CDM_2.append(values[i])
    CDM_3.append(values[i+1])
    CDM_4.append(values[i+2])
print(len(values))

48

In [42]:
len(CDM_2), len(CDM_3), len(CDM_4)

(16, 16, 16)

In [43]:
keys_non_dup = []
for i in range(len(keys)):
    if str(keys[i][0]) in keys_non_dup:
        continue
    else:
        keys_non_dup.append(keys[i][0])
keys_non_dup
keys_non_dup

['04/02/2021',
 '05/02/2021',
 '06/02/2021',
 '07/02/2021',
 '08/02/2021',
 '09/02/2021',
 '10/02/2021',
 '11/02/2021',
 '12/02/2021',
 '13/02/2021',
 '14/02/2021',
 '15/02/2021',
 '16/02/2021',
 '17/02/2021',
 '18/02/2021',
 '19/02/2021']

In [44]:
df_Totes_CDM_Day = pd.DataFrame({'DMY':keys_non_dup, 'CDM_2':CDM_2, 'CDM_3':CDM_3,'CDM_4':CDM_4}, index=None)
df_Totes_CDM_Day

           DMY  CDM_2  CDM_3  CDM_4
0   04/02/2021      2      3      3
1   05/02/2021      2      3      4
2   06/02/2021      2      2      4
3   07/02/2021      1      2      3
4   08/02/2021      2      3      5
5   09/02/2021      1      3      4
6   10/02/2021      0      2      4
7   11/02/2021      1      3      4
8   12/02/2021      0      3      5
9   13/02/2021      2      2      4
10  14/02/2021      2      3      4
11  15/02/2021      1      3      5
12  16/02/2021      2      2      4
13  17/02/2021      2      2      4
14  18/02/2021      1      3      3
15  19/02/2021      1      1      3

<img src="Picture3.png" width="400">

###  5.Create a new column(named: "Total_Totes_Day") in ("df_Totes_CDM_Day") which summarize each row .
#### Output will be like :

In [45]:
df_Totes_CDM_Day['Total_Totes_Day'] = df_Totes_CDM_Day['CDM_2'] + df_Totes_CDM_Day['CDM_3'] + df_Totes_CDM_Day['CDM_4']

In [46]:
df_Totes_CDM_Day.head(5)

          DMY  CDM_2  CDM_3  CDM_4  Total_Totes_Day
0  04/02/2021      2      3      3                8
1  05/02/2021      2      3      4                9
2  06/02/2021      2      2      4                8
3  07/02/2021      1      2      3                6
4  08/02/2021      2      3      5               10

<img src="Picture4.png" width="400">

###  6.Define two variables(1.Tote,, 2. System_Volume) :
##### Tote=1000
##### System_Volume=300

In [47]:
Tote = 1000
System_Volumn = 300

###  7.Create three new formula columns in ("df_Totes_CDM_Day") .Columns names will be ("CDM2";"CDM3";"CDM4")
###  The columns formulas are :

In [48]:
df_Totes_CDM_Day['CDM2'] = (System_Volumn*(24*60))/(df_Totes_CDM_Day['Total_Totes_Day']*Tote*(df_Totes_CDM_Day['CDM_2']/df_Totes_CDM_Day['Total_Totes_Day']))
df_Totes_CDM_Day['CDM3'] = (System_Volumn*(24*60))/(df_Totes_CDM_Day['Total_Totes_Day']*Tote*(df_Totes_CDM_Day['CDM_3']/df_Totes_CDM_Day['Total_Totes_Day']))
df_Totes_CDM_Day['CDM4'] = (System_Volumn*(24*60))/(df_Totes_CDM_Day['Total_Totes_Day']*Tote*(df_Totes_CDM_Day['CDM_4']/df_Totes_CDM_Day['Total_Totes_Day']))

In [49]:
df_Totes_CDM_Day['CDM2'].iloc[[6,8]] = 0;
df_Totes_CDM_Day.head(10)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

          DMY  CDM_2  CDM_3  CDM_4  Total_Totes_Day   CDM2   CDM3   CDM4
0  04/02/2021      2      3      3                8  216.0  144.0  144.0
1  05/02/2021      2      3      4                9  216.0  144.0  108.0
2  06/02/2021      2      2      4                8  216.0  216.0  108.0
3  07/02/2021      1      2      3                6  432.0  216.0  144.0
4  08/02/2021      2      3      5               10  216.0  144.0   86.4
5  09/02/2021      1      3      4                8  432.0  144.0  108.0
6  10/02/2021      0      2      4                6    0.0  216.0  108.0
7  11/02/2021      1      3      4                8  432.0  144.0  108.0
8  12/02/2021      0      3      5                8    0.0  144.0   86.4
9  13/02/2021      2      2      4                8  216.0  216.0  108.0

<img src="Picture5.png" width="1000">

###  The output will be like :

<img src="Picture6.png" width="1000">

###  8. Reshape the table by stacking the columns. (The reshaped table will be named as "df_Reshape")
#### The ouput will look like: 
#### Note: The stacked data column is called "ResTime"

In [50]:
df_Reshape = df_Totes_CDM_Day.melt(id_vars=['DMY','CDM_2','CDM_3','CDM_4','Total_Totes_Day'])
df_Reshape = df_Reshape.rename(columns={'value':'Restime','variable':'CDM'})
df_Reshape = df_Reshape.sort_values(by=['DMY'])
df_Reshape = df_Reshape.reset_index().drop('index', axis=1)
df_Reshape.head(10)

          DMY  CDM_2  CDM_3  CDM_4  Total_Totes_Day   CDM  Restime
0  04/02/2021      2      3      3                8  CDM2    216.0
1  04/02/2021      2      3      3                8  CDM3    144.0
2  04/02/2021      2      3      3                8  CDM4    144.0
3  05/02/2021      2      3      4                9  CDM2    216.0
4  05/02/2021      2      3      4                9  CDM3    144.0
5  05/02/2021      2      3      4                9  CDM4    108.0
6  06/02/2021      2      2      4                8  CDM2    216.0
7  06/02/2021      2      2      4                8  CDM3    216.0
8  06/02/2021      2      2      4                8  CDM4    108.0
9  07/02/2021      1      2      3                6  CDM2    432.0

<img src="Picture7.png" width="500">

### 9. Join the two tables ("df_Reshape") together with ("Sigac") by matching "DMY" from both tables and by matching "CDM_Name"
#### The Joint table will be called ("df_SigacRes")
#### The joint table will look like :

In [70]:
#rename the column name from df_Totes_CDM_Day['CDM'] to df_Totes_CDM_Day['CDM_Name']
df_Reshape = df_Reshape.rename(columns={'CDM':'CDM_Name'})
df_Reshape
df_SigacRes = pd.merge(df,df_Reshape, on=['DMY','CDM_Name'], how='inner')
df_SigacRes.head(5)

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY,CDM_Name,CDM_2,CDM_3,CDM_4,Total_Totes_Day,Restime
0,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030337,MOVEIN,2021/02/04 6:33:45 AM,1,1,-SNJAG019,F28 BCD,On-line,04/02/2021,CDM2,2,3,3,8,216.0
1,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/04 8:56:26 PM,1,1,-SNJAG211,F28 BCD,On-line,04/02/2021,CDM2,2,3,3,8,216.0
2,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 11:03:05 AM,1,1,-SNMIK533,F28 BCD,On-line,05/02/2021,CDM2,2,3,4,9,216.0
3,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 8:57:05 PM,1,1,-SNCLA050,F28 BCD,On-line,05/02/2021,CDM2,2,3,4,9,216.0
4,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/06 9:46:14 AM,1,1,-SNMIK400,F28 BCD,On-line,06/02/2021,CDM2,2,2,4,8,216.0

<img src="Picture8.png" width="800">

### 10. Create a new column in table "df_SigacRes" which add the ResTime (it is in units of minutes ) to column ("move_date_time")
#### The new column will ba called "Time_on_Tool"
#### The output will look like:

In [100]:
#exercise
Time_on_Tool_list = []
for i in range(len(df_SigacRes['move_date_time'])):
    #df_SigacRes['Time_on_Tool'] = pd.to_datetime(df_SigacRes['move_date_time'][i]) + pd.Timedelta(minutes=int(df_SigacRes['Restime'][i]))
    #print(df_SigacRes['move_date_time'][i])
    #print(df_SigacRes['Restime'][i])
    Time_on_Tool_list.append(pd.to_datetime(df_SigacRes['move_date_time'][i]) + pd.Timedelta(minutes=int(df_SigacRes['Restime'][i])))
df_SigacRes['Time_on_Tool'] = Time_on_Tool_list
df_SigacRes

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY,CDM_Name,CDM_2,CDM_3,CDM_4,Total_Totes_Day,Restime,Time_on_Tool
0,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030337,MOVEIN,2021/02/04 6:33:45 AM,1,1,-SNJAG019,F28 BCD,On-line,04/02/2021,CDM2,2,3,3,8,216.0,2021-02-04 10:09:45
1,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/04 8:56:26 PM,1,1,-SNJAG211,F28 BCD,On-line,04/02/2021,CDM2,2,3,3,8,216.0,2021-02-05 00:32:26
2,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 11:03:05 AM,1,1,-SNMIK533,F28 BCD,On-line,05/02/2021,CDM2,2,3,4,9,216.0,2021-02-05 14:39:05
3,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 8:57:05 PM,1,1,-SNCLA050,F28 BCD,On-line,05/02/2021,CDM2,2,3,4,9,216.0,2021-02-06 00:33:05
4,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/06 9:46:14 AM,1,1,-SNMIK400,F28 BCD,On-line,06/02/2021,CDM2,2,2,4,8,216.0,2021-02-06 13:22:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,F28,96%H2SO4 AQRM 04 On Line,On-line,500393799,21140005278K,MOVEIN,2021/02/18 12:32:34 PM,1,1,-SN112C0010703,F28 BCD,On-line,18/02/2021,CDM4,1,3,3,7,144.0,2021-02-18 14:56:34
121,F28,96%H2SO4 AQRM 04 On Line,On-line,500393799,21140005278K,MOVEIN,2021/02/18 6:32:05 PM,1,1,-SN112C0010706,F28 BCD,On-line,18/02/2021,CDM4,1,3,3,7,144.0,2021-02-18 20:56:05
122,F28,96%H2SO4 AQRM 04 On Line,On-line,500393799,21140005279K,MOVEIN,2021/02/19 12:39:45 AM,1,1,-SN112C0010735,F28 BCD,On-line,19/02/2021,CDM4,1,1,3,5,144.0,2021-02-19 03:03:45
123,F28,96%H2SO4 AQRM 04 On Line,On-line,500393799,21140005279K,MOVEIN,2021/02/19 7:35:38 AM,1,1,-SN112C0010727,F28 BCD,On-line,19/02/2021,CDM4,1,1,3,5,144.0,2021-02-19 09:59:38
124,F28,96%H2SO4 AQRM 04 On Line,On-line,500393799,21140005279K,MOVEIN,2021/02/19 2:14:55 PM,1,1,-SN112C0010723,F28 BCD,On-line,19/02/2021,CDM4,1,1,3,5,144.0,2021-02-19 16:38:55

<img src="Picture9.png" width="1000">

###  11. Create 3 Subset  tables from df_SigacRes: 
    1.Subset_CDM2 (by selecting only rows that contain CDM2)
    2.Subset_CDM3 (by selecting only rows that contain CDM3)
    3.Subset_CDM4 (by selecting only rows that contain CDM4)
    
#### The subset tables will look like:

In [121]:
Subset_CDM2 = df[df['CDM_Name']=='CDM2']
Subset_CDM3 = df[df['CDM_Name']=='CDM3']
Subset_CDM4 = df[df['CDM_Name']=='CDM4']
Subset_CDM2.head(5)

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY,CDM_Name
0,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030337,MOVEIN,2021/02/04 6:33:45 AM,1,1,-SNJAG019,F28 BCD,On-line,04/02/2021,CDM2
1,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/04 8:56:26 PM,1,1,-SNJAG211,F28 BCD,On-line,04/02/2021,CDM2
2,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 11:03:05 AM,1,1,-SNMIK533,F28 BCD,On-line,05/02/2021,CDM2
3,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 8:57:05 PM,1,1,-SNCLA050,F28 BCD,On-line,05/02/2021,CDM2
4,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/06 9:46:14 AM,1,1,-SNMIK400,F28 BCD,On-line,06/02/2021,CDM2

<img src="Picture10.png" width="1000">

### 12. In each of the 3 subset tables create a new column which concatenate the column "lot_num"_"bottle_number"_"ipn"
#### The output will look like (for example in Subset_CDM2 table )

In [138]:
#Subset_CDM2
Subset_CDM2['lot_num'] = Subset_CDM2['lot_num'].astype(str)
Subset_CDM2['bottle_number'] = Subset_CDM2['bottle_number'].astype(str)
Subset_CDM2['ipn'] = Subset_CDM2['ipn'].astype(str)
Subset_CDM2['lot_num_bottle_number_ipn'] = Subset_CDM2['lot_num'] + Subset_CDM2['bottle_number'] + Subset_CDM2['ipn']
Subset_CDM2.head()

<ipython-input-138-a570fc69ab67>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM2['lot_num'] = Subset_CDM2['lot_num'].astype(str)
<ipython-input-138-a570fc69ab67>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM2['bottle_number'] = Subset_CDM2['bottle_number'].astype(str)
<ipython-input-138-a570fc69ab67>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM2['ipn'] = Subset_CDM2['ipn'].astype(str)
<ipython-input-138-a570fc69ab67>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM2['lot_num_bottle_number_ipn'] = Subset_CDM2['lot_num'] + Subset_CDM2['bottle_number'] + Subset_CDM2['ipn']

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY,CDM_Name,lot_num_bottle_number_ipn
0,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030337,MOVEIN,2021/02/04 6:33:45 AM,1,1,-SNJAG019,F28 BCD,On-line,04/02/2021,CDM2,10030337-SNJAG019500267791
1,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/04 8:56:26 PM,1,1,-SNJAG211,F28 BCD,On-line,04/02/2021,CDM2,10030367-SNJAG211500267791
2,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 11:03:05 AM,1,1,-SNMIK533,F28 BCD,On-line,05/02/2021,CDM2,10030367-SNMIK533500267791
3,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/05 8:57:05 PM,1,1,-SNCLA050,F28 BCD,On-line,05/02/2021,CDM2,10030367-SNCLA050500267791
4,F28,96%H2SO4 AQRM 02 On Line,On-line,500267791,10030367,MOVEIN,2021/02/06 9:46:14 AM,1,1,-SNMIK400,F28 BCD,On-line,06/02/2021,CDM2,10030367-SNMIK400500267791

In [133]:
#Subset_CDM3
Subset_CDM3['lot_num'] = Subset_CDM3['lot_num'].astype(str)
Subset_CDM3['bottle_number'] = Subset_CDM3['bottle_number'].astype(str)
Subset_CDM3['ipn'] = Subset_CDM3['ipn'].astype(str)
Subset_CDM3['lot_num_bottle_number_ipn'] = Subset_CDM3['lot_num'] + Subset_CDM3['bottle_number'] + Subset_CDM3['ipn']
Subset_CDM3.head()

<ipython-input-133-c100154bc351>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM3['lot_num'] = Subset_CDM3['lot_num'].astype(str)
<ipython-input-133-c100154bc351>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM3['bottle_number'] = Subset_CDM3['bottle_number'].astype(str)
<ipython-input-133-c100154bc351>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM3['ipn'] = Subset_CDM3['ipn'].astype(str)
<ipython-input-133-c100154bc351>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM3['lot_num_bottle_number_ipn'] = Subset_CDM3['lot_num'] + Subset_CDM3['bottle_number'] + Subset_CDM3['ipn']

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY,CDM_Name,lot_num_bottle_number_ipn
22,F28,96%H2SO4 AQRM 03 On Line,On-line,500267791,10030332,MOVEIN,2021/02/04 10:43:46 AM,1,1,-SNMIK293,F28 BCD,On-line,04/02/2021,CDM3,10030332-SNMIK293500267791
23,F28,96%H2SO4 AQRM 03 On Line,On-line,500267791,10030332,MOVEIN,2021/02/04 9:01:37 PM,1,1,-SNMIK553,F28 BCD,On-line,04/02/2021,CDM3,10030332-SNMIK553500267791
24,F28,96%H2SO4 AQRM 03 On Line,On-line,500267791,10030337,MOVEIN,2021/02/04 1:09:44 AM,1,1,-SNINT126,F28 BCD,On-line,04/02/2021,CDM3,10030337-SNINT126500267791
25,F28,96%H2SO4 AQRM 03 On Line,On-line,500267791,10030337,MOVEIN,2021/02/05 7:05:10 AM,1,1,-SNMIK477,F28 BCD,On-line,05/02/2021,CDM3,10030337-SNMIK477500267791
26,F28,96%H2SO4 AQRM 03 On Line,On-line,500267791,10030337,MOVEIN,2021/02/06 9:36:33 AM,1,1,-SNMIK397,F28 BCD,On-line,06/02/2021,CDM3,10030337-SNMIK397500267791

In [134]:
#Subset_CDM4
Subset_CDM4['lot_num'] = Subset_CDM4['lot_num'].astype(str)
Subset_CDM4['bottle_number'] = Subset_CDM4['bottle_number'].astype(str)
Subset_CDM4['ipn'] = Subset_CDM4['ipn'].astype(str)
Subset_CDM4['lot_num_bottle_number_ipn'] = Subset_CDM4['lot_num'] + Subset_CDM4['bottle_number'] + Subset_CDM4['ipn']
Subset_CDM4.head()

<ipython-input-134-38d0d107d9dc>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM4['lot_num'] = Subset_CDM4['lot_num'].astype(str)
<ipython-input-134-38d0d107d9dc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM4['bottle_number'] = Subset_CDM4['bottle_number'].astype(str)
<ipython-input-134-38d0d107d9dc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM4['ipn'] = Subset_CDM4['ipn'].astype(str)
<ipython-input-134-38d0d107d9dc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subset_CDM4['lot_num_bottle_number_ipn'] = Subset_CDM4['lot_num'] + Subset_CDM4['bottle_number'] + Subset_CDM4['ipn']

,site_name,location,location_type,ipn,lot_num,move_type,move_date_time,success_or_not,quantity,bottle_number,area_name,location_type_1,DMY,CDM_Name,lot_num_bottle_number_ipn
62,F28,96%H2SO4 AQRM 04 On Line,On-line,500267791,10029506,MOVEIN,2021/02/11 12:12:09 PM,1,1,-SNCLA083,F28 BCD,On-line,11/02/2021,CDM4,10029506-SNCLA083500267791
63,F28,96%H2SO4 AQRM 04 On Line,On-line,500267791,10030226,MOVEIN,2021/02/04 5:07:32 AM,1,1,-SNMIK238,F28 BCD,On-line,04/02/2021,CDM4,10030226-SNMIK238500267791
64,F28,96%H2SO4 AQRM 04 On Line,On-line,500267791,10030332,MOVEIN,2021/02/04 11:15:20 AM,1,1,-SNCLA157,F28 BCD,On-line,04/02/2021,CDM4,10030332-SNCLA157500267791
65,F28,96%H2SO4 AQRM 04 On Line,On-line,500267791,10030332,MOVEIN,2021/02/04 11:29:42 PM,1,1,-SNCLA132,F28 BCD,On-line,04/02/2021,CDM4,10030332-SNCLA132500267791
66,F28,96%H2SO4 AQRM 04 On Line,On-line,500267791,10030332,MOVEIN,2021/02/05 4:55:26 PM,1,1,-SNCLA204,F28 BCD,On-line,05/02/2021,CDM4,10030332-SNCLA204500267791

<img src="Picture11.png" width="1000">

### 13. Read What_Ran_on_Tool Data

In [135]:
df_WhatRanOnTool = pd.read_csv('What_ran_SST.csv')

In [136]:
df_WhatRanOnTool.head(10)

,FACILITY,BAY,ENTITY,LOT,DATE,OPERATION,OPER_SHORT_DESC,DOTPROCESS,OUT_WAFER_QTY
0,F28,805,SST132,N024TEJ0,2021/02/15 2:13:38 AM,6636,R SC1 CLN,1274,25
1,F28,803,SST144,N024TEK0,2021/02/15 2:14:53 AM,6636,R SC1 CLN,1274,25
2,F28,805,SST132,N849T9H0,2021/02/15 4:13:22 AM,6636,R SC1 CLN,1274,25
3,F28,803,SST144,N808TGV0,2021/02/15 5:41:09 AM,6636,R SC1 CLN,1274,25
4,F28,803,SST144,N701TLT0,2021/02/15 6:14:27 AM,6636,R SC1 CLN,1274,25
5,F28,803,SST144,N720TE98B,2021/02/15 6:51:39 AM,6636,R SC1 CLN,1274,25
6,F28,803,SST145,N748TNS0,2021/02/15 8:20:14 AM,154908,R SULFHF,1274,25
7,F28,805,SST132,N007TL90,2021/02/15 8:39:18 AM,6636,R SC1 CLN,1274,25
8,F28,803,SST145,N629T250,2021/02/15 9:31:58 AM,154908,R SULFHF,1274,25
9,F28,803,SST144,N852TXF0,2021/02/15 10:13:16 AM,6636,R SC1 CLN,1274,25

In [137]:
df_WhatRanOnTool.shape

(122, 9)

### 14. Join the tables "df_WhatRanOnTool"  together with the 3 subset tables so DATE column in "df_WhatRanOnTool" will be greater than the date in each of the 3 subset tables (column"CDMx_Time_On_Tool")
### The output table will look like:

<img src="Picture12.png" width="1000">